# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!SDL2.dll
!SDL2_image.dll
!SDL2_mixer.dll
!SDL2_ttf.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!SDL2.lib
!SDL2_image.lib
!SDL2_mixer.lib
!SDL2_ttf.lib
!SDL2main.lib
!SDL2test.lib

# Executables
*.exe
*.out
*.app
